.custom-navbar {
  background-color: #1273a3;
  border-radius: 50px;
  margin: 1rem;
  padding: 0.5rem 2rem;
}

.navbar-nav .nav-link {
  font-size: 1rem;
  transition: color 0.2s ease, background-color 0.2s ease;
}

/* Active page */
.active-link {
  background-color: white;
  color: #1273a3 !important;
  border-radius: 20px;
  padding: 0 12px;
}
